
<div>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Token">
                <md-content class="md-padding">
                    <h1 class="md-title">App_key</h1>
                    <p>{{token}}</p>
                </md-content>
            </md-tab>
            <md-tab label="SDK下载">
                <md-content class="md-padding">
                    <h1 class="md-title">
                        <md-icon md-svg-src="img/android.svg"></md-icon>Android下载
                    </h1>
                    <p>........</p>
                    <h1 class="md-title">
                        <md-icon md-svg-src="img/ios.svg"></md-icon>Ios下载
                    </h1>
                    <p>..........</p>
                </md-content>
            </md-tab>
            <md-tab label="API文档">
                <md-content class="md-padding">
                    <h1 class="md-title">API文档</h1>
                    <p>{{api_Json}}</p>
                </md-content>
            </md-tab>
            <md-tab label="添加协作用户" ng-click="ggggg()">
                <md-content class="md-padding">
                    <h1 class="md-title">已有协作用户：</h1>
                    <relation-User actors="actors"></relation-User>
                    <h1 class="md-title">添加协作用户：</h1>
                    <div layout="row" flex="40">
                        <input type="text" ng-model="coagent" placeholder="UserName"/>
                        <md-button class="md-raised" ng-click="addCoagent()">Regist</md-button>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>