
<!--<div class="button">-->
    <!--<p class="goods_name">商 品 名 称 : <input type="text" ng-model="goodsName" placeholder="请输入商品名称"/></p>-->
    <!--<p class="goods_count">商 品 数 量 : <input type="button" class="subtract"value="-"/><input type="text" ng-model="goodsCount" class="count_boder"/><input type="button" class="augment" value="+"/>-->
    <!--<input type="button" ng-click="addGoods()" value="保存商品"/>-->
    <!--</p>-->
    <!--<p class="app_name">应用名称： <input type="text" ng-model="appName" placeholder="请输入应用名称"/>-->
    <!--<input type="button" ng-click="addApp()" value="添加"/>-->
    <!--</p>-->
    <!--<p>查询商品名称： <input type="text" ng-model="findName" placeholder="请输入查询商品名称"/><input type="button" ng-click="findGoodsItems()" value="查询"/></p>-->
<!--</div>-->
<!--<div check-Goods>-->
<!--</div>-->


<div flex="40" flex-offset="30" layout="column">
    <md-content class="md-no-momentum" style="background-color: #eef1f5">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">创建新应用</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column" layout-align="space-between">
                <!--<div class="md-media-xl card-media"></div>-->
                <md-input-container class="md-icon-float md-block">
                    <label>App Name</label>
                    <input ng-model="appName" type="text">
                </md-input-container>


                <md-card-actions layout="column">
                    <md-button class="md-raised md-warn" ng-click="addApp()">Add</md-button>
                </md-card-actions>
            </md-card-content>
        </md-card>
    </md-content>
</div>