<!--<div class="reg_page">-->
    <!--<div>-->
        <!--<label>username: <p class="loginUsername" ng-bind="loginNamewarn"></p><br/><input type="text" ng-model="loginUsername" required/></label> <br>-->
        <!--<label>password: <p class="loginPassword" ng-bind="loginPasswordwarn"></p><br/><input type="password" ng-model="loginPassword" required/></label> <br>-->
        <!--<input type="button" ng-click="Login()" id="login" class="login" value="login"/>-->
    <!--</div>-->
<!--</div>-->

<div flex="40" flex-offset="40" layout="column">
    <md-content class="md-no-momentum">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Login</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column" layout-align="space-between">
                <md-input-container class="md-icon-float md-block">
                    <label>Name</label>
                    <input ng-model="loginUsername" type="text">
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Password</label>
                    <input ng-model="loginPassword" type="password">
                </md-input-container>


                <md-card-actions layout="column">
                    <md-button class="md-raised md-warn" ng-click="Login()">Login</md-button>
                </md-card-actions>
            </md-card-content>
        </md-card>
    </md-content>
</div>
