
.md-button {
    color : currentColor;
}
.md-button:not([disabled]):hover {
    background-color: rgba(158, 158, 158, 0.2);
}
.md-button[disabled] {
    color : rgba(0, 0, 0, 0.26);
    background-color: transparent;
}
.home_button{
        margin-left: 50px;
    height: 40px;
    width: 50px;
}

.md-button.groupX {
    height: 63px;
    color: rgba(3, 4, 11, 0.96);
}
.md-button.groupX:focus  {
    background-color: #66747B;
}
.md-button:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
}

a:link {
    text-decoration: none;
}
hr {
    position: relative;
    left: 140px;
}
.home_page {
    float: left;
    width: 70%;
    margin-left: 1em;
}
h3 {
    color: #66747B;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 1em;
}
/*nav {*/
    /*float: left;*/
    /*width: 100%;*/
    /*height: 40px;*/
/*}*/
/*.reg_page {*/
    /*margin-left: 550px;*/
    /*width: 25%;*/
    /*border: 1px solid #8b8b8b;*/
    /*_height: 130px;*/
    /*min-height: 130px;*/
/*}*/
/*.reg_page div {*/
    /*_height: 130px;*/
    /*min-height: 130px;*/
    /*width: 240px;*/
    /*margin: 0 0 0 60px;*/
    /*text-align: left;*/
/*}*/
/*.login , .reg {*/
    /*margin-top: 10px;*/
    /*margin-left: 50px;*/
    /*margin-bottom: 10px;*/
    /*border-radius: 10px;*/
    /*background-color: #93C763;*/
    /*cursor: pointer;*/
    /*outline: none;*/
    /*height: 30px;*/
    /*width: 80px;*/
/*}*/
/*.username {*/
    /*display: inline;*/
    /*color: red;*/
/*}*/
/*.password{*/
    /*display: inline;*/
    /*color: red;*/
/*}*/
/*.repeatPassword {*/
    /*display: inline;*/
    /*color: red;*/
/*}*/
/*.email {*/
    /*display: inline;*/
    /*color: red;*/
/*}*/
/*.loginUsername {*/
    /*display: inline;*/
    /*color: red;*/
/*}*/
/*.loginPassword {*/
    /*display: inline;*/
    /*color: red;*/
/*}*/
/*==============================================*/
/*.goods_item {*/
    /*width: 50%;*/
    /*border-collapse: collapse;*/
    /*margin-left: 10px;*/
    /*color: #393939;*/
    /*font-size: 14px;*/
/*}*/
/*.goods_item th, .goods_item td {*/
    /*text-align: center;*/
    /*height: 35px;*/
    /*border: 1px solid #8b8b8b;*/
/*}*/
/*.subtract {*/
    /*text-align: center;*/
    /*border: 1px solid #8b8b8b;*/
    /*border-right: 0;*/
    /*width:50px;*/
    /*height:22px;*/
    /*font-size: 75%;*/
    /*background-color: rgba(85, 175, 255, 0);*/
    /*color:black*/
/*}*/
/*.count_boder {*/
    /*border: 1px solid #8b8b8b;*/
    /*width:69px;*/
    /*height:18px;*/
    /*color: #8b8b8b;*/
    /*text-align: center;*/
    /*line-height: 50px;*/
    /*background-color: rgba(85, 175, 255, 0);*/
/*}*/
/*.augment {*/
    /*text-align: center;*/
    /*border: 1px solid #8b8b8b;*/
    /*border-left: 0;*/
    /*width:50px;*/
    /*height:22px;*/
    /*font-size: 75%;*/
    /*background-color: rgba(85, 175, 255, 0);*/
    /*color:black;*/
/*}*/